<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="common_head(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/static/assets/img/icon/favicon.ico}" href="../../static/assets/img/icon/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/assets/layui/css/layui.css}" href="../../static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/static/assets/css/normalize.css}" href="../../static/assets/css/normalize.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/reset.css}" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" href="../../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/home.css}" href="../../static/assets/css/home.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/login.css}" href="../../static/assets/css/login.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/register.css}" href="../../static/assets/css/register.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/category.css}" href="../../static/assets/css/category.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/goods.css}" href="../../static/assets/css/goods.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/cart.css}" href="../../static/assets/css/cart.css">
    <title th:replace="${title}"></title>
</head>
<body>
    <!--common head menu bar-->
    <div class="main_header" th:fragment="menu_bar">
        <div class="main_header_content clearfix">
            <h1>
                <a th:href="@{/}" title="艾米甜品">Emi Cake</a>
            </h1>
            <ul class="header_nav_bar">
                <li><a th:href="@{/}">首页</a></li>
                <li><a th:href="@{/prod/category.html}">全部商品</a></li>
                <li><a href="#3">甄选蛋糕</a></li>
                <li><a href="#4">精选食材</a></li>
                <li><a href="#5">会员中心</a></li>
            </ul>
            <div th:if="${session.loginMember != null}" class="search_box">
                <form action="#">
                    <input type="text" placeholder="请输入手机号或订单号查询订单" name="orderSearch">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="cart_box">
                <a href="javascript:;" target="_self" id="cartBtn">购物车</a>
            </div>
            <div th:if="${session.loginMember != null}" class="login_box" id="loginFlagDiv" th:value="${session.loginMember.getId()}">
                <a th:href="@{/member/memberCentre.html}" th:text="${session.loginMember.getMemberId()}" target="_self"></a>
            </div>
            <div th:if="${session.loginMember == null}" class="login_box">
                <img src="" alt="">
                <a th:href="@{/member/login.html}" target="_self">登录</a>
                <span>|</span>
                <a th:href="@{/member/register.html}" target="_self">注册</a>
            </div>
        </div>
    </div>
</body>
</html>