<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="common_head(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/static/assets/img/icon/favicon.ico}" href="../../static/assets/img/icon/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/assets/layui/css/layui.css}" href="../../static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/static/assets/css/normalize.css}" href="../../static/assets/css/normalize.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/reset.css}" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}" href="../../static/assets/css/style.css">
    <link th:replace="${links}">
    <title th:replace="${title}"></title>
</head>
<body>
    <!--common head menu bar-->
    <div class="main_header" th:fragment="menu_bar">
        <div class="main_header_content clearfix">
            <h1>
                <a th:href="@{/}" title="艾米甜品">Emi Cake</a>
            </h1>
            <ul class="header_nav_bar">
                <li><a th:href="@{/}">首页</a></li>
                <li><a th:href="@{/product/category.html}">全部商品</a></li>
                <li><a href="#3">甄选蛋糕</a></li>
                <li><a href="#4">精选食材</a></li>
                <li><a th:href="@{/member/toCentre}" href="/member/toCentre">会员中心</a></li>
            </ul>
            <div th:if="${session.loginMember != null}" class="search_box">
                <form action="#">
                    <input type="text" placeholder="请输入手机号或订单号查询订单" name="orderSearch">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="cart_box">
                <a href="javascript:;" target="_self" id="cartBtn">购物车</a>
            </div>
            <div th:if="${session.loginMember != null}" class="login_box" id="loginFlagDiv" th:value="${session.loginMember.getId()}">
                <a th:href="@{/member/memberCentre.html}" th:text="${session.loginMember.getMemberId()}" target="_self"></a>
            </div>
            <div th:if="${session.loginMember == null}" class="login_box">
                <img src="" alt="">
                <a th:href="@{/member/login.html}" target="_self">登录</a>
                <span>|</span>
                <a th:href="@{/member/register.html}" target="_self">注册</a>
            </div>
        </div>
    </div>

    <!--membercentre common side bar-->
    <!--左侧导航栏-->
    <div class="side_bar clearfix" th:fragment="side_bar">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item">
                <a th:href="@{/member/memberCentre.html}">我的emicake</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/member/accountOrder.html}">我的订单</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/member/accountEdit.html}">修改会员信息</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/member/accountAddress.html}">我的地址</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">修改密码</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">会员权益</a>
            </li>
            <li class="layui-nav-item">
                <a id="logout" href="javascript:;">注销账号</a>
            </li>
        </ul>
    </div>
</body>
</html>