<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_head(~{::title})">
    <title>商品详细页-emicake艾米蛋糕</title>
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar"></div>
    <!--main content-->
    <!--商品展示轮播图-->
    <div class="layui-carousel goods_carousel" id="goods_carousel">
        <div carousel-item="" id="display_carousel">
        </div>
    </div>
    <!--商品购买信息-->
    <form action="" class="layui-form" method="post">
        <div class="goods_shop_box clearfix">
            <!--商品名称和价格-->
            <div class="goods_title">
                <h1 id="title"></h1>
            </div>
            <!--商品甜度-->
            <div class="goods_sweetness_score" id="tasteDegreeBox">
            </div>
            <!--文案-->
            <div class="goods_with_words">
                <p id="desc"></p>
            </div>
            <!--规格数量-->
            <div class="goods_standard ">
                <div class="goods_img">
                    <img id="size_img" src="">
                </div>
                <div class="goods_spec">
                    <div id="goods_weight">
                        <i></i>
                        <span id="weight"></span>
                    </div>
                    <div id="goods_price">
                        <span id="price"></span>
                        <span id="size"></span>
                    </div>
                </div>
                <div class="layui-form-item" id="size_box">
                    <label class="layui-form-label">尺寸：</label>
                    <div class="layui-input-block" id="sizeDiv">
                    </div>
                </div>
                <div class="layui-form-item" id="amount">
                    <label class="layui-form-label">数量：</label>
                    <div class="layui-input-block">
                        <div id="amount_group">
                            <span><a href="javascript:;" class="del_btn"><i class="layui-icon">&#xe67e;</i></a></span>
                            <span class="count_value"></span>
                            <span><a href="javascript:;" class="add_btn"><i class="layui-icon">&#xe624;</i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--加入购物车立即购买-->
            <div class="shopBtnGroup">
                <div id="productId"></div>
                <div id="itemId"></div>
                <div id="itemThumbnail"></div>
                <div id="productSkuSpec"></div>
                <button type="button" lay-filter="purchase" id="addToCartBtn" class="layui-btn layui-btn-warm">加入购物车
                </button>
                <button type="button" lay-filter="purchase" class="layui-btn layui-btn-warm">立即购买</button>
            </div>
        </div>
    </form>

    <!--商品详细信息-->
    <div class="goods_info_box" id="">
        <!--商品介绍视频-->
        <fieldset class="layui-elem-field layui-field-title">
            <legend>视频介绍</legend>
        </fieldset>
        <div class="videoBox">
        </div>
        <!--商品图片介绍-->
        <fieldset class="layui-elem-field layui-field-title">
            <legend>图文介绍</legend>
        </fieldset>
        <div id="introduceImgBox">
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src="../../static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"
        src="../../static/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/goods.js}" src="../../static/assets/js/goods.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}" src="../../static/assets/js/common.js"></script>
</body>
<script>
    var productId = getQueryVariable("id");
    var allProductSku = null;

    $(function () {
        queryProdData();
        initProdData();

        $("#addToCartBtn").click(function () {

            var productId = $("#productId").val();
            var productSkuId = $("#itemId").val();
            var productTitle = $("#title").val();
            var productSpec = $("#productSkuSpec").val();
            var productPrice = $("#price").val();
            var thumbnail = $("#itemThumbnail").val();
            var productNumber = val[0].innerHTML;
            var memberId = $("#loginFlagDiv").attr("value");

            if (memberId === undefined){
                memberId = -1;
            }

            var reqData = {
                productId:productId,
                productSkuId: productSkuId,
                title: productTitle,
                spec: productSpec,
                price: productPrice,
                thumbnail: thumbnail,
                number: productNumber
            };
            //alert(JSON.stringify(reqData));
            $.ajax({
                url:'/cart/add',
                type: 'post',
                data:JSON.stringify(reqData),
                contentType: 'application/json',
                dataType:'json',
                success: function (response) {
                    if (response[successKey]==true){
                        alertMsg("加入购物车成功");
                    }else {
                        alertMsg("加入购物车失败，请重试");
                    }
                },
                error: function (response) {
                    alert(response);
                }
            })
        })
    });

    /*初始化商品信息*/
    function initProdData() {
        /*初始化购买数量*/
        val[0].innerHTML = 1;
        if (productId != null) {
            layui.use(['carousel', 'form', 'rate'], function () {
                var carousel = layui.carousel;
                var form = layui.form;
                var rate = layui.rate;
                $.ajax({
                    url: '/prod/' + productId,
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {

                        if (response[successKey] && response[dataKey] != null) {


                            $("#productId").val(response[dataKey].id)
                            /*商品标题*/
                            $("#title").val(response[dataKey].title);
                            $("#title").html(response[dataKey].title);

                            /*商品描述*/
                            $("#desc").html(response[dataKey].description);

                            /*商品缩略图*/
                            $("#itemThumbnail").val(response[dataKey].imgThumbnail);

                            /*商品甜度、脂度、芝度规格*/
                            let tasteJson = JSON.parse(response[dataKey].tasteSpec)
                            let tasteJsonKeyArray = new Array();
                            let tasteJsonValueArray = new Array();
                            let index = 0;
                            /*把商品甜度、脂度、芝度规格的JSON数据中的key和value分别放入两个数组中*/
                            for (var key in tasteJson) {
                                tasteJsonKeyArray[index] = key;
                                tasteJsonValueArray[index] = tasteJson[key];
                                index++;
                            }
                            /*遍历json数据中的key值数组*/
                            for (var key in tasteJsonKeyArray) {
                                let str = '<div>\n' +
                                    '<span></span>\n' +
                                    '<span></span>\n' +
                                    '</div>'
                                $("#tasteDegreeBox").append(str);
                                if (tasteJsonKeyArray[key] === "sweetness") {
                                    $("#tasteDegreeBox :last-child :first-child").html("甜度");
                                    $("#tasteDegreeBox :last-child :last-child").attr("class", "score");

                                } else if (tasteJsonKeyArray[key] === "fatness") {
                                    $("#tasteDegreeBox :last-child :first-child").html("脂度");
                                    $("#tasteDegreeBox :last-child :last-child").attr("class", "score");

                                } else if (tasteJsonKeyArray[key] === "cheese") {
                                    $("#tasteDegreeBox :last-child :first-child").html("芝度");
                                    $("#tasteDegreeBox :last-child :last-child").attr("class", "score");
                                }
                            }
                            /*给所有json数据中的key值赋相应的value值*/
                            let scoreArray = $(".score");
                            $.each(scoreArray, function (index, item) {
                                rate.render({
                                    elem: scoreArray[index]
                                    , value: tasteJsonValueArray[index]
                                    , readonly: true
                                });
                            })

                            let displayImgArray = splitParam(response[dataKey].imgDisplay, '&');
                            let detailImgArray = splitParam(response[dataKey].imgDetail, '&');
                            /*商品展示图片*/
                            $.each(displayImgArray, function (index, item) {
                                let str = '<div>\n' +
                                    '<img src="' + item + '"' +
                                    '</div>';
                                $("#display_carousel").append(str);
                            });
                            /*手动渲染轮播*/
                            carousel.render({
                                elem: '#goods_carousel'
                                , width: '1519px'
                                , height: '650px'
                                , autoplay: true
                                , interval: 4000
                                , arrow: 'hover'
                                , indicator: 'none'
                                , anim: 'fade'
                            });
                            /*商品详情介绍图片*/
                            $.each(detailImgArray, function (index, item) {
                                let str = '<div>\n' +
                                    '<img src="' + item + '"' +
                                    '</div>';
                                $("#introduceImgBox").append(str);
                            });

                            /*商品介绍视频*/
                            let videoData = response[dataKey].video;
                            if (videoData != null) {
                                if (videoData.toString().endsWith("mp4") ||
                                    videoData.toString().endsWith("mP4") ||
                                    videoData.toString().endsWith("MP4") ||
                                    videoData.toString().endsWith("Mp4")) {
                                    let str = '<video id="video" width="1162" controls><source src="' + videoData + '" type="video/mp4">您的浏览器不支持Video标签</video>';
                                    $(".videoBox").append(str);
                                }
                            } else {
                                $(".videoBox").html("该商品无介绍视频");
                            }

                            /*商品规格参数*/
                            let parse = JSON.parse(response[dataKey].specList);
                            let sizeArray = parse.size;
                            $.each(sizeArray, function (index, item) {
                                let str = '<input type="radio" class="sizeRadio"  lay-filter="change" name="size"  value="' + item + '" title="' + item + '">';
                                $("#sizeDiv").append(str);
                                if (index == 0) {
                                    let skuId = allProductSku[index].id;
                                    let skuSize = JSON.parse(allProductSku[index].productSpecs).size;
                                    let skuWeight = JSON.parse(allProductSku[index].productSpecs).weight;
                                    let price = allProductSku[index].price;
                                    if (item === skuSize) {
                                        $("#size_img").attr("src", allProductSku[index].images);
                                        $("#weight").html(skuWeight);
                                        $("#weight").val(skuWeight);
                                        $("#price").html("￥" + price + "/");
                                        $("#price").val(price);
                                        $("#size").html(skuSize);
                                        $("#size").val(skuSize);
                                        $("#itemId").val(skuId);
                                        $("#productSkuSpec").val(allProductSku[index].productSpecs);
                                    }

                                }
                            });
                            /*尺寸默认选中第一个*/
                            $(".sizeRadio:first").attr({checked: "true"});
                            /*手动渲染*/
                            form.render();

                            /*radio监听事件*/
                            form.on('radio(change)', function (data) {
                                for (let i = 0; i < allProductSku.length; i++) {
                                    let skuId = allProductSku[i].id;
                                    let skuSize = JSON.parse(allProductSku[i].productSpecs).size;
                                    let skuWeight = JSON.parse(allProductSku[i].productSpecs).weight;
                                    let price = allProductSku[i].price;
                                    if (data.value == skuSize) {
                                        $("#size_img").attr("src", allProductSku[i].images);
                                        $("#weight").html(skuWeight);
                                        $("#weight").val(skuWeight);
                                        $("#price").html("￥" + price + "/")
                                        $("#price").val(price);
                                        $("#size").html(skuSize);
                                        $("#size").val(skuSize);
                                        $("#itemId").val(skuId);
                                        $("#productSkuSpec").val(allProductSku[i].productSpecs);
                                    }
                                }
                            });
                        }
                    },
                    error: function () {
                        alertMsg(ajaxReqErrorStr);
                        initProdData();
                    }
                })
            })
        }
    }

    /*查询该商品id下的所有sku信息*/
    function queryProdData() {
        $.ajax({
            url: '/prod/sku/' + productId,
            type: 'GET',
            //data:JSON.stringify(jsonData),
            async: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                if (response[successKey] == true && response[dataKey] != null) {
                    allProductSku = response[dataKey];
                }
            },
            error: function () {
                alertMsg(ajaxReqErrorStr);
                queryProdData();
            }
        })
    }



</script>
</html>