/*-----common.html-----*/
/*首页主要内容区*/
.main_content_area {
    position: relative;
    width: 100%;
}

/*甜品大图*/
.content_area_bigImgBox {
    width: 100%;
    height: 590px;
    position: relative;
    margin-top: 65px;
}

.content_area_bigImgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*各类甜品区容器*/
.content_area_row {
    width: 1180px;
    height: 470px;
    position: relative;
    margin: 25px auto;
    /*background-color: mediumpurple;*/
    padding-top: 20px;
}

/*各类甜品区标题*/
.row_title {
    width: 1120px;
    margin: 0px auto;
}

.row_title_span {
    display: block;
    line-height: 54px;
    font-size: 22px;
    font-weight: normal;
    color: #707070;
}

.row_title_img {
    position: relative;
    left: 100px;
    top: -6px;
}

/*甜品内容区超链接样式*/
.content_area_row .row_title a:link {
    float: right;
    line-height: 54px;
    font-size: medium;
    color: #707070;
}

/*.content_area_row .row_title a:visited {*/
/*    color: #E9967A;*/
/*}*/

.content_area_row .row_title a:hover {
    color: #E9967A;
}

.content_area_row .row_title a:active {
    color: #E9967A;
}

/*甜品项容器*/
.row_item_box {
    position: relative;
    width: 1120px;
    height: 350px;
    margin: 55px auto;
    /*background-color: hotpink;*/
}

.row_item_box ul {
    width: 1120px;
    height: 100%;
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
}

/*甜品项*/
.row_item_box ul li {
    float: left;
    width: 250px;
    height: 250px;
    /*background-color: royalblue;*/
    /*border: 1px solid black;*/
    margin: 50px 20px;
}

.row_item_box ul > li:first-child {
    margin-left: 0px;
}

.row_item_box ul > li:last-child {
    margin-right: 0px;
}

.row_item_box ul li:hover {
    box-shadow: 5px 5px 40px rgba(0, 0, 0, .4);
}

.row_item_box a {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.row_item, .row_item img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    /*-moz-transition: all 0.5s; !* Firefox 4 *!*/
    /*-webkit-transition: all 0.5s; !* Safari 和 Chrome *!*/
    /*-o-transition: all 0.5s; !* Opera *!*/
}

.row_item img:hover {
    transform: scale(1.2);
    /*-ms-transform: scale(1.2); !* IE 9 *!*/
    /*-moz-transform: scale(1.2); !* Firefox *!*/
    /*-webkit-transform: scale(1.2); !* Safari 和 Chrome *!*/
    /*-o-transform: scale(1.2); !* Opera *!*/
}

/*甜品项内容简介*/
.row_item_desc {
    position: absolute;
    top: 160px;
    left: 18px;
    width: 210px;
    height: 54px;
    border: 1px solid #e7e7e7;
    margin: 0px auto;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1024;
}

.row_item_desc h3 {
    color: black;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.row_item_desc h4 {
    color: darksalmon;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

