/*侧边导航栏*/
.side_bar{
    width: 200px;
    height: 500px;
    border: 1px solid #e7e7e7;
    position: absolute;
    margin-top: 160px;
    margin-left: 210px;

}
.layui-nav {
    position: relative;
    padding: 0 20px;
    background-color: #fff;
    color: #182026;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
    margin-top: 30px;
}
.layui-nav .layui-nav-item a {
    display: block;
    padding: 0px 20px;
    margin-bottom: 15px;
    -webkit-transition: all .3s;
    font-size: 14px;
}
.layui-nav-tree .layui-nav-item a {
    position: relative;
    height: 45px;
    line-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}
.layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #fff;
}
.layui-nav-tree .layui-nav-item a:hover {
    background-color: #fff;
    /*color: black;*/
    color: #009688;
}
.layui-nav-tree .layui-nav-item a:active {
   /*color: #009688;*/
}

/*会员信息*/
.member_info_box{
    width: 865px;
    height: 500px;
    /*border: 1px solid black;*/
    position: absolute;
    margin-top: 160px;
    margin-left: 440px;
}

.member_title{
    height: 65px;
    border-bottom: 1px solid #e7e7e7;
    margin-left: 30px;
}
.member_title span{
    font-size: 30px;
    color: #009688;
    position: relative;
    display: block;
    line-height: 65px;

}
.member_info{
    /*width: 100%;*/
    height: 435px;
    /*border: 1px solid black;*/
    margin-left: 30px;
}
.member_info div{
    height: 45px;
    margin: 20px auto;
}
.member_info_item span:first-child{
    width: 100px;
    line-height: 45px;
    text-align: left;
    display: inline-block;
    color: #999999;
}
.layui-icon{
    color: #009688;
    font-size: 26px;
}




