<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/deal.css">


    <title>收银台-emicake艾米蛋糕</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/">
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div class="main_header">
        <div class="main_header_content clearfix">
            <h1>
                <a href="../common/index.html" title="艾米甜品">Emi Cake</a>
            </h1>
            <ul class="header_nav_bar">
                <li><a href="../common/index.html">首页</a></li>
                <li><a href="#2">全部商品</a></li>
                <li><a href="#3">甄选蛋糕</a></li>
                <li><a href="#4">精选食材</a></li>
                <li><a c href="#5">会员中心</a></li>
            </ul>
            <div class="search_box">
                <form action="#">
                    <input type="text" placeholder="请输入手机号或订单号查询订单" name="orderSearch">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="cart_box">
                <a href="../cart/cart.html">购物车</a>
            </div>
            <div class="login_box">
                <img src="" alt="">
                <a href="../member/login.html">登录</a>
                <span>|</span>
                <a href="../member/register.html">注册</a>
            </div>
        </div>
    </div>
    <!--main content-->
    <div class="order_box">

        <div class="delivery_choice">

                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <!--配送方式选择-->
                    <h1>配送方式</h1>
                    <ul class="layui-tab-title">
                        <li class="layui-this">门店自提</li>
                        <li>外卖配送</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <!--门店自提-->
                        <form class="layui-tab-item layui-show layui-form">
                            <h1>门店自提点</h1>
                            <div class="store_add_box">
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="海曙店" title="海曙店" checked="">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="北仑店" title="北仑店">

                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="江北店" title="江北店">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="镇海店" title="镇海店">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="鄞州店" title="鄞州店">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="store" value="奉化店" title="奉化店">
                                    </div>
                                </div>


                            </div>
                            <div class="pickup_info">
                                <h1>自提人信息</h1>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">提货人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off" placeholder=""
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">手机号</label>
                                        <div class="layui-input-inline">
                                            <input type="tel" name="phone" lay-verify="required|phone"
                                                   autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pickup_date">
                                <h1>自提时间</h1>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="date" id="date" lay-verify="date"
                                                   placeholder="请选择日期" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input" id="test9" placeholder="请选择时间段">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--订单留言-->
                            <div class="pickup_msg">
                                <h1>订单留言</h1>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off" placeholder=""
                                                   class="layui-input" id="order_msg_input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--支付方式-->
                            <div class="payment_mode">
                                <h1>支付方式</h1>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="payment" value="alipay" title="支付宝支付" checked="">
                                        <input type="radio" name="payment" value="wechat" title="微信支付">
                                    </div>
                                </div>
                            </div>
                            <!--商品信息-->
                            <div class="order_info">
                                <h1>商品信息</h1>
                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>

                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>

                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>
                            </div>
                            <!--下单区域-->
                            <div class="summation_box">
                                <div class="sum_bar_right">
                                    <span class="total_num">订单总金额</span>
                                    <span>￥</span>
                                    <span id="cart_total_price">11111111</span>
                                </div>
                                <div class="order_btn clearfix">
                                    <form action="">
                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">
                                            确认并提交订单
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </form>
                        <!--外卖配送-->
                        <form class="layui-tab-item layui-form">
                            <h1>填写收货信息</h1>
                            <div class="delivery_info">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">订货人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" autocomplete="off" placeholder=""
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">订货人手机</label>
                                    <div class="layui-input-inline">
                                        <input type="tel" name="phone" lay-verify="required|phone"
                                               lay-reqtext="订货人手机不能为空" placeholder="" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">收货人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" autocomplete="off" lay-verify="required"
                                               placeholder="" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">收货人手机</label>
                                    <div class="layui-input-inline">
                                        <input type="tel" name="phone" lay-verify="required|phone"
                                               lay-reqtext="收货人手机不能为空" placeholder="" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">所在地区</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz1">
                                            <option value="宁波" selected>宁波</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="quiz3">
                                            <option value="宁波">海曙区</option>
                                            <option value="宁波" selected>江北区</option>
                                            <option value="宁波">镇海区</option>
                                            <option value="宁波">北仑区</option>
                                            <option value="宁波">鄞州区</option>
                                            <option value="宁波">奉化区</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">收货地址</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="address" lay-verify="required" lay-reqtext="收货地址不能为空"
                                               placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <!--订单留言-->
                            <div class="pickup_msg">
                                <h1>订单留言</h1>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off" placeholder=""
                                                   class="layui-input" id="order_msg_input1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--支付方式-->
                            <div class="payment_mode">
                                <h1>支付方式</h1>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="payment" value="alipay" title="支付宝支付" checked="">
                                        <input type="radio" name="payment" value="wechat" title="微信支付">
                                    </div>
                                </div>
                            </div>
                            <!--商品信息-->
                            <div class="order_info">
                                <h1>商品信息</h1>
                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>

                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>

                                <div class="cart_item">
                                    <div class="goods_info">
                                        <a href="#20">
                                            <div class="img"><img src="../img/example01.jpg" alt=""></div>
                                            <div class="desc">
                                                <h3>偏爱 | 海盐黑巧慕斯蛋糕</h3>
                                            </div>
                                        </a>
                                        <!--                    <div class="stock">-->
                                        <!--                        <span>库存:</span>-->
                                        <!--                        <span class="stock_num">5</span>-->
                                        <!--                    </div>-->
                                    </div>
                                    <div class="goods_price clearfix">
                                        <span>￥</span>
                                        <span class="unit_price">11111111</span>
                                        <span>/</span>
                                        <span>件</span>
                                    </div>
                                    <div class="goods_count clearfix">
                                        <!--                                        <i class="layui-icon">&#x1006;</i>-->
                                        <span>×</span>
                                        <span class="count_value">1</span>
                                    </div>
                                    <div class="goods_total">
                                        <span class="item_price">11111111</span>
                                        <span>￥</span>
                                    </div>
                                </div>
                            </div>
                            <!--下单区域-->
                            <div class="summation_box">
                                <div class="sum_bar_right">
                                    <span class="total_num">订单总金额</span>
                                    <span>￥</span>
                                    <span id="cart_total_price1">11111111</span>
                                </div>
                                <div class="order_btn clearfix">
                                    <form action="">
                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">
                                            确认并提交订单
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </form>
                        <div class="blank"></div>
                    </div>

                </div>

        </div>


    </div>


</div>

</div>


<script type="text/javascript" src="../layui/layui.js"></script>

<script>
    layui.use(['form', 'element', 'laydate'], function () {
        var element = layui.element
            , form = layui.form
            , laydate = layui.laydate;

        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#test9'
            , type: 'time'
            , range: true
        });
    })

</script>
</body>
</html>