<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_head(~{::title},~{::link})">
    <title>收银台-emicake艾米蛋糕</title>
    <link rel="stylesheet" th:href="@{/static/assets/css/cart.css}" href="../../static/assets/css/cart.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/deal.css}" href="../../static/assets/css/deal.css">
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar"></div>
    <!--main content-->
    <div class="order_box">
        <div class="delivery_choice">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <!--配送方式选择-->
                <h1>配送方式</h1>
                <ul class="layui-tab-title">
                    <li class="layui-this">门店自提</li>
                    <li>外卖配送</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <!--门店自提-->
                    <form class="layui-tab-item layui-show layui-form">
                        <h1>门店自提点</h1>
                        <div class="store_add_box">
                        </div>
                        <div class="pickup_info">
                            <h1>自提人信息</h1>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">提货人</label>
                                    <div class="layui-input-inline">
                                        <input id="pick_person_name" type="text" name="name" autocomplete="off" placeholder=""
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline">
                                        <input id="pick_person_phone" type="tel" name="phone" lay-verify="required|phone"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pickup_date">
                            <h1>自提时间</h1>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input  type="text" name="date" id="pick_date" lay-verify="date"
                                               placeholder="请选择日期" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-input-inline">
                                        <input id="pick_time" type="text" class="layui-input"  placeholder="请选择时间段">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--订单留言-->
                        <div class="pickup_msg">
                            <h1>订单留言</h1>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" autocomplete="off" placeholder=""
                                               class="layui-input" id="pick_order_msg_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--支付方式-->
                        <div class="payment_mode">
                            <h1>支付方式</h1>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="radio" name="payment" value="1" title="支付宝支付" checked="">
                                    <input type="radio" name="payment" value="2" title="微信支付">
                                </div>
                            </div>
                        </div>
                        <!--商品信息-->
                        <div class="pick_order_info">
                            <h1>商品信息</h1>

                        </div>
                        <!--下单区域-->
                        <div class="summation_box">
                            <div class="sum_bar_right">
                                <span id="pick_goods_num"></span>
                                <span>件商品</span>
                                <span class="total_num">总金额</span>
                                <span>￥</span>
                                <span id="pick_order_total_price"></span>
                            </div>
                            <div class="sum_bar_right clearfix">
                                <span class="total_num">实付总金额</span>
                                <span>￥</span>
                                <span id="pick_pay_total_price"></span>
                            </div>
                            <div class="order_btn clearfix">
                                <form action="">
                                    <button id="pick_order_submit_btn" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">
                                        确认并提交订单
                                    </button>
                                </form>
                            </div>
                        </div>

                    </form>
                    <!--外卖配送-->
                    <form class="layui-tab-item layui-form">
                        <h1>填写收货信息</h1>
                        <div id="noDefault_delivery_info">
                            <div id="choose_orderer_box" class="layui-form-item">
                                <button type="submit"
                                        class="layui-btn layui-btn-primary"
                                        id="choose_orderer"
                                        lay-submit=""
                                        lay-filter="demo1">选择订货人</button>
                            </div>
                            <div id="choose_receiver_box" class="layui-form-item">
                                <button type="submit"
                                        class="layui-btn layui-btn-primary"
                                        id="choose_receiver"
                                        lay-submit=""
                                        lay-filter="demo1">选择收货人</button>
                            </div>
                        </div>
                        <div id="default_delivery_info">
                            <div class="layui-form-item">
                                <label class="layui-form-label">订货人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" autocomplete="off" lay-verify="required" placeholder=""
                                           class="layui-input" id="orderer_name">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">订货人手机</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone"
                                           lay-reqtext="订货人手机不能为空" placeholder="" autocomplete="off"
                                           class="layui-input" id="orderer_phone">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">收货人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" autocomplete="off" lay-verify="required"
                                           placeholder="" class="layui-input" id="receiver_name">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">收货人手机</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone"
                                           lay-reqtext="收货人手机不能为空" placeholder="" autocomplete="off"
                                           class="layui-input" id="receiver_phone">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">所在地区</label>
                                <div class="layui-input-inline">
                                    <select  name="province">
                                        <option value="zj" selected>浙江</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select  name="city">
                                        <option value="nb" selected>宁波</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select  name="region">
                                        <option value="hs">海曙区</option>
                                        <option value="jb">江北区</option>
                                        <option value="zh">镇海区</option>
                                        <option value="bl">北仑区</option>
                                        <option value="yz">鄞州区</option>
                                        <option value="fh">奉化区</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">收货地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="address" lay-verify="required" lay-reqtext="收货地址不能为空"
                                           placeholder="" autocomplete="off" class="layui-input" id="order_addr">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button type="submit"
                                        class="layui-btn layui-btn-primary"
                                        id="order_saveAddr"
                                        lay-submit=""
                                        lay-filter="demo1">添加新地址</button>
                                <button type="button"
                                        class="layui-btn layui-btn-primary"
                                        id="select_addr"
                                        >选择其他地址</button>
                            </div>
                        </div>

                        <!--订单留言-->
                        <div class="pickup_msg">
                            <h1>订单留言</h1>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" autocomplete="off" placeholder=""
                                               class="layui-input" id="take_order_msg_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--支付方式-->
                        <div class="payment_mode">
                            <h1>支付方式</h1>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="radio" name="payment" value="1" title="支付宝支付" checked="">
                                    <input type="radio" name="payment" value="2" title="微信支付">
                                </div>
                            </div>
                        </div>
                        <!--商品信息-->
                        <div class="take_order_info">
                            <h1>商品信息</h1>
                        </div>
                        <!--下单区域-->
                        <div class="summation_box">
                            <div class="sum_bar_right">

                                <span id="take_goods_num"></span>
                                <span>件商品</span>
                                <span class="total_num">总金额</span>
                                <span>￥</span>
                                <span id="take_order_total_price"></span>
                            </div>
                            <div class="sum_bar_right clearfix">
                                <span class="total_num">实付总金额</span>
                                <span>￥</span>
                                <span id="take_pay_total_price"></span>
                            </div>
                            <div class="order_btn clearfix">
                                <form action="">
                                    <button id="take_order_submit_btn" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">
                                        确认并提交订单
                                    </button>
                                </form>
                            </div>
                        </div>

                    </form>
                    <div class="blank"></div>
                </div>

            </div>

        </div>


    </div>
</div>

</div>


<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"
        src="../../static/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src="../../static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}"
        src="../../static/assets/js/common.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/deal.js}" src="../../static/assets/js/deal.js"></script>

<script>


</script>
</body>
</html>