application:
  title: emi-cake
  formatted-version: v1.0.0
server:
  port: 8080
  address: 127.0.0.1
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true
    context-path: /
  # 错误处理
  error:
    include-exception: true
    include-message: always
spring:
  application:
    name: emi-cake
  banner:
    location: classpath:/resources/banner.txt
  datasource:
    #   数据源基本配置
    username: root
    password: minyifeng789.
    url: jdbc:mysql://localhost:3306/emi_cake?serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always
    type: com.alibaba.druid.pool.DruidDataSource
    #   Druid数据源的配置
    druid:
      aop-patterns: com.myf.emicake.*  #监控SpringBean
      filters: stat,wall     # 底层开启功能，stat（sql监控），wall（防火墙）
      stat-view-servlet:   # 配置监控页功能
        enabled: true
        login-username: emicake
        login-password: 123456
        url-pattern: /druid/*
        resetEnable: false
      web-stat-filter:  # 监控web
        enabled: true
        url-pattern: /*
        exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*'
      filter:
        stat:    # 对上面filters里面的stat的详细配置
          slow-sql-millis: 1000
          logSlowSql: true
          enabled: true
        wall:
          enabled: true
          config:
            drop-table-allow: false
  # web配置
  mvc:
    hiddenmethod:
      filter:
        enabled: true
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd HH:mm:ss
    static-path-pattern: /static/**
  resources:
    static-locations: classpath:/static/
  # thymeleaf模板配置
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    check-template-location: true
    cache: false
    enabled: true
    encoding: UTF-8
    mode: HTML
    servlet:
      content-type: text/html #文档类型
  # redis配置
  redis:
    host: 192.168.170.130
    port: 6379
    database: 0
    timeout: 3000
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1
        min-idle: 0

  rabbitmq:
    host: 192.168.170.130
    port: 5672
    virtual-host: /emicake
    username: emicake
    password: 123456

    # 生产者
    # 新版的开启 confirm 确认模式
    publisher-confirm-type: correlated
    # 开启 return 退回模式
    publisher-returns: true
    # 配合return机制使用，表示接收路由不可达的消息
    template:
      mandatory: true

    # 消费者
    listener:
      # RabbitMQ模式使用simple  simple支持事务的
      simple:
        # Consumer ACK机制：设置为手动签收
        acknowledge-mode: manual
        prefetch: 1 # 限流,配置1 表示消费端每次向MQ拉取最大一条消息
        retry:
          enabled: true
          max-attempts: 5
        concurrency: 1
        max-concurrency: 1
#rabbitmq自定义配置
rabbit:
  msg:
    exchange:
      topic:
        name: msg_topic_exchange
      dead:
        name: msg_dead_exchange
    queue:
      dao:
        name: msg.dao.update
        dead:
          name: msg.dao.dead.update
      sms:
        name: msg.sms.send
        dead:
          name: msg.sms.dead.send
      order:
        name: msg.order.deal
        dead:
          name: msg.order.dead.deal
    route:
      dao: msg.dao.update
      sms: msg.sms.send
      order: msg.order.deal
#aliyun服务自定义配置
aliyun:
  sms:
    connectTimeout: sun.net.client.defaultConnectTimeout
    readTimeout: sun.net.client.defaultReadTimeout
    product: Dysmsapi
    domain: dysmsapi.aliyuncs.com
    regionId: cn-hangzhou
    sysVersion: 2017-05-25
    sysAction: SendSms
    accessKeyId:
    accessKeySecret:
    signName: 打工人的技术沉淀屋
# mybatis配置
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    #配置驼峰命名映射
    map-underscore-to-camel-case: true
  mapper-locations: classpath:/config/mybatis/mapper/*.xml
  type-aliases-package: com.myf.emicake.domain
#日志配置
logging:
  level:
    com:
      myf: debug
  file:
    path: log

#shiro配置
shiro:
  loginUrl: /member/login.html
  successUrl: /
  unauthorizedUrl: /
