<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_head(~{::title},~{::link})">
    <title>会员地址-emicake艾米蛋糕</title>
    <link rel="stylesheet" th:href="@{/static/assets/css/accountAddress.css}" href="../../static/assets/css/accountAddress.css">
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar"></div>
    <!--左侧导航栏-->
    <div th:replace="common/common :: side_bar"></div>

    <div class="member_info_box">

        <div class="member_title">
            <span>17305814557</span>
        </div>
        <div class="member_info">
            <span>已经保存的地址</span>
            <a id="add_btn" href="javascript:;"><i class="layui-icon">&#xe624;</i>添加新地址</a>
            <div class="address_box">
            </div>
        </div>

    </div>

</div>


<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"
        src="../../static/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src="../../static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}"
        src="../../static/assets/js/common.js"></script>
<script>
    $("#add_btn").click(function () {
        layui.use(['layer'], function () {
                var layer = layui.layer;
            layer.open({
                type: 2,
                title: '添加新地址',
                shadeClose: false,
                shade: 0.8,
                area: ['830px','450px'],
                content: 'addAccountAddress.html', //iframe的url
                resize: false
            });
        })
    })


    layui.use(['element'], function () {
        var element = layui.element

    });


</script>
</body>
</html>