<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_head(~{::title},~{::link})">
    <title>我的订单-emicake艾米蛋糕</title>
    <link rel="stylesheet" th:href="@{/static/assets/css/order.css}" href="../../static/assets/css/order.css">
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar"></div>
    <!--左侧导航栏-->
    <div th:replace="common/common :: side_bar"></div>


    <form class="layui-form member_info_box" action="">
        <div class="member_title">
            <span>17305814557</span>
        </div>
        <div class=" member_info">
            <div class="order_type">
                <a href="javascript:;">全部订单</a>
                <span>|</span>
                <a href="javascript:;">待付款</a>
                <span>|</span>
                <a href="javascript:;">已支付</a>
            </div>
            <div class="order_list">
                <table class="layui-hide" id="test"></table>
            </div>
        </div>
    </form>


</div>

<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"
        src="../../static/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src="../../static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}"
        src="../../static/assets/js/common.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;

        // table.render({
        //     elem: '#test'
        //     ,url:'/demo/table/user/'
        //     ,cols: [[
        //         {field:'id', width:150, title: '商品信息', sort: false,align: 'center',unresize:true}
        //         ,{field:'username', width:90, title: '单价',sort: true,align: 'center',unresize:true}
        //         ,{field:'sex', width:80, title: '数量', sort: true,align: 'center',unresize:true}
        //         ,{field:'city', width:100, title: '实付款',sort: true,align: 'center',unresize:true}
        //         ,{field:'sign', width:95,title: '订单状态',align: 'center',unresize:true}
        //         ,{field:'experience', width:160, title: '操作',align: 'center',unresize:true}
        //     ]]
        //     ,page: true
        //     ,text: {
        //         none: '您没有任何订单记录' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
        //     }
        //
        // });
    });
</script>
</body>
</html>