<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: common_head(~{::title},~{::link})">
    <title>会员中心-emicake艾米蛋糕</title>
    <link rel="stylesheet" th:href="@{/static/assets/css/memberCentre.css}" href="../../static/assets/css/memberCentre.css">
</head>
<body>
<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar"></div>
    <!--左侧导航栏-->
    <div th:replace="common/common :: side_bar"></div>

    <div class="member_info_box">
        <div class="member_title">
            <span>17305814557</span>
        </div>
        <div class="member_info">

            <div class="member_info_item">
                <span>用户名</span>
                <span>17305814557</span>
            </div>
            <div class="member_info_item">
                <span>手机号码</span>
                <span >17305814557</span>
                <a href="javascript:;"><i class="layui-icon">&#xe642;</i></a>

            </div>
            <div class="member_info_item">
                <span>真实姓名</span>
                <span >aaa</span>
                <a href="javascript:;"><i class="layui-icon">&#xe642;</i></a>

            </div>
            <div class="member_info_item">
                <span>性别</span>
                <span >男</span>
                <a href="javascript:;"><i class="layui-icon">&#xe642;</i></a>

            </div>
            <div class="member_info_item">
                <span>生日</span>
                <span >1997-05-02</span>
                <a href="javascript:;"><i class="layui-icon">&#xe642;</i></a>

            </div>
            <div class="member_info_item">
                <span>城市</span>
                <span>宁波</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"
        src="../../static/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src="../../static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}"
        src="../../static/assets/js/common.js"></script>
<script>

    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

    });
</script>
</body>
</html>