<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common :: common_head(~{::title})">
    <title>设置密码-emicake艾米蛋糕</title>
</head>
<body>

<div class="main_content">
    <!--main header-->
    <div th:replace="common/common :: menu_bar">
    </div>
    <!--main content-->
    <div class="register_box">
        <div class="register_titel">
            <span>设置密码</span>
        </div>
        <div class="register_infoBox">
            <!--注册表单-->
            <form class="layui-form" th:action="@{/member/setPassword}" method="post">
                <input type="hidden" name="id" id="memberIdInput">
                <div class="layui-form-item form_item">
                    <div class="layui-inline">
                        <label class="layui-form-label form_label">密码：</label>
                        <div class="layui-input-inline input_line">
                            <input type="password" name="memberPassword" lay-verify="pwd" lay-reqtext="密码不能为空"
                                   autocomplete="off"
                                   placeholder="请输入密码"
                                   class="layui-input"
                                   id="passwordInput"
                                   >
                        </div>
                    </div>
                </div>

                <div class="layui-form-item form_item">
                    <label class="layui-form-label form_label">确认密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="confirmPassword" lay-verify="confirmPwd" lay-reqtext="请确认密码"
                               placeholder="请确认密码"
                               autocomplete="off"
                               class="layui-input"
                                id="confirmPwdInput">
                    </div>
                </div>

                <div class="layui-form-item " id="reg_form_item">
                    <div class="layui-input-block input_block">
                        <button type="submit" class="layui-btn layui-btn-normal reg_btn" lay-submit
                                lay-filter="setPwd" th:text="确认完成">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/assets/layui/layui.js}"
        src=".././static/assets/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/assets/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/js/common.js}"></script>
<script type="text/javascript">

    var memberId = getQueryVariable("id");
    $("#memberIdInput").val(memberId);

    layui.use(['form'], function () {
        var form = layui.form;
        form.verify({

            pwd: [
                /\S{6,}/
                , '密码最少为6位，请检查格式'
            ],
            confirmPwd: [
                /\S{6,}/
                ,'两次密码不一致,请重新输入'
            ]
        })
        form.on('submit(setPwd)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            //return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>


</body>
</html>